version: "3.9"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"   # Portainer UI
      - "9443:9443"   # Portainer HTTPS (optional)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - app_network

  app:
    image: nginx:latest
    container_name: my_app
    restart: always
    ports:
      - "8080:80"     # Access app at http://localhost:8080
    networks:
      - app_network

  cache:
    image: redis:latest
    container_name: cache_server
    restart: always
    ports:
      - 8900:8900
    
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  portainer_data:
